html, body {
  height: 100%;
  width: 100%;
  background-color: steelblue;
}


#chessBoardDisplay{
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.checkPromptWhite{
  position: absolute;
  font-size: 0.7rem;
  z-index: 1;
  color: red;
  font-family: Helvetica, sans-serif, Arial;
  left: -999px;
  top: 350px;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; 
}
.checkPromptBlack{
  position: absolute;
  font-size: 0.7rem;
  z-index: 1;
  color: red;
  font-family: Helvetica, sans-serif, Arial;
  top: 100px;
  left: -999px;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; 

}

.checkmatePromptWhite{
  position: absolute;
  font-size: 0.7rem;
  z-index: 1;
  color: red;
  font-family: Helvetica, sans-serif, Arial;
  left: -999px;
  top: 350px;

  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; 

}

.stalematePrompt{
  position: absolute;
  font-size: 0.7rem;
  z-index: 1;
  color: red;
  font-family: Helvetica, sans-serif, Arial;
  top: 225px;
  left: -999px;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; 
}

.checkmatePromptBlack{
  position: absolute;
  font-size: 0.7rem;
  z-index: 1;
  color: red;
  font-family: Helvetica, sans-serif, Arial;
  top: 100px;
  left: -999px;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black; 

}

.square{
  position: relative;
  display: grid;
  place-content: center;
  height: 60px;
  width: 60px;
  border: 1px solid black;
}

.possible-move-indicator{
  height: 60px;
  width: 60px;
  border-radius: 60px;
  position: absolute;
  background-color: rgba(80, 80, 80, 0.3);
}

.papaya-whip{
  background-color: papayawhip;
  color: green;
}
.green{
  background-color: green;
  color: papayawhip;
}

.square-selected{
  background-color: darkorange;
}

#promotion-display{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-menu {
  background-color: #444;
  color: #fff;
  font-family: Helvetica, sans-serif, Arial;
  text-align: center;
  padding: 50px;
}

.start-menu h1 {
  font-size: 3em;
  margin-bottom: 50px;
}

.start-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.start-menu li {
  display: inline-block;
  margin-right: 20px;
}

.start-menu a {
  display: block;
  padding: 10px;
  background-color: #fff;
  color: #444;
  text-decoration: none;
  border-radius: 5px;
}

.start-menu a:hover {
  background-color: #eee;
}